/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital@0;1&family=Changa&family=Crimson+Text:ital@0;1&display=swap');

/* Override default styles */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Credit: Web Dev Simplified */
:root {
    --hue-neutral: #ddd5c6;
    --hue-correct: #26f42d;
    --hue-wrong: #f40f0f;
}

/* Global styles */
body {
    --hue: var(--hue-neutral);
    font-family: 'Alegreya Sans', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--hue);
}

body.correct {
    --hue: var(--hue-correct);
}

body.wrong {
    --hue: var(--hue-wrong);
}

h1 {
    font-family: 'Crimson Text', serif;
}

h2 {
    font-family: 'Changa', sans-serif;
}

p,
ul {
    padding: 10px 2px;
}

li {
    padding: 3px;
    margin-left: 20px;
}

.center {
    max-width: 80%;
    margin: auto;
}

.heading {
    display: flex;
    justify-content: center;
    text-align: center;
}

.logo-image {
    background: url("../images/book-stack.png") no-repeat center center / cover;
    height: 25vw;
    width: 25vw;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

.hide {
    display: none;
}

/* Quiz screen display styling */
/* Credit: Web Dev Simplified */
.container {
    width: 800px;
    max-width: 80%;
    background-color: #c3a894;
    border-radius: 5px;  /* Round off the edges */
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

/* Credit: Web Dev Sinplified */
.btn-grid {
    display: grid;
    gap: 10px;  /* Space out answer buttons from each other */
    margin: 20px;  /* Put space between answer buttons and question */
}

.btn {
    --hue: #aa7b63;
    border-style: none;
    border-radius: 5px;
    background-color: var(--hue);
    padding: 5px 10px;
    color: #ffff;
    outline: none;
}

.btn.correct {
    --hue: var(--hue-correct);
    color: #000;
}

.btn.wrong {
    --hue: var(--hue-wrong);
}

.start-btn,
.next-btn,
.quit-btn,
.try-again-btn,
.home-btn {
    background-color: #904e31;
    font-size: 1.10rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 3px;
    gap: 20px;
}

.timer-progress-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.results-container {
    display: flex;
    justify-content: center;
}

/* Footer styling */
footer {
    background-color: #d0bfad;
}

footer p {
    font-size: 0.75rem;
    text-align: center;
    padding-bottom: 5px;
}

.github-page {
    text-align: center;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.github-page i {
    font-size: 200%;
    padding: 0 1.5rem;
    color: #b7927c;
}
